@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Source+Sans+Pro');

body{
  font-family: 'Source Sans Pro', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('images/runaway-back.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bungee{
  font-family: 'Bungee Shade', cursive;
}

h1, h2, h3, h4, h5{
  color: white;
}

.video{
  margin-top: 3rem;
}
