@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Source+Sans+Pro');

body{
  font-family: 'Source Sans Pro', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('images/runaway-back.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.bungee{
  font-family: 'Bungee Shade', cursive;
}

h1{
  font-family: 'Bungee Shade', cursive;
}

h1, h2, h3, h4, h5, p{
  color: white;
}

.main > .container{
  padding-top: 5rem;
}

@keyframes bounce{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-15px);
  }
}

.bounce{
  animation: bounce 1s ease-in-out 0s infinite alternate;
}
